<h1>RockPaperScissors</h1>
<form action="/game" method="post" name="form">
  <label for="player1"></label>
  <select class="form-control" name="player1" id="player1" onchange="hide(this)">
    <option selected="true" disabled="disabled">------</option>
    <option>Rock</option>
    <option>Scissors</option>
    <option>Paper</option>
    <option>Random</option>
  </select>
  <label for="player2"></label>
  <select class="form-control" name="player2" id="player2" onchange="hide(this)">
    <option selected="true" disabled="disabled">------</option>
    <option>Rock</option>
    <option>Scissors</option>
    <option>Paper</option>
    <option>Random</option>
  </select>
  <button type="button" name="button" onclick="return checkForm()">go!</button>
</form>
<script type="text/javascript">
  function hide(e) {
    e.style.visibility = "hidden";
  }
  function checkForm() {
    if(document.form.player1.value!="------" && document.form.player2.value!="------" ) {
      document.form.submit();
    }
  }
</script>
